body {
  background-color: rgb(180, 145, 213);
}
td {
  border: 2px solid black;
}

p {
  background-color: aquamarine;
}

a {
  background-color: brown;
}
span {
  background-color: blue;
}
.red {
  color: red;
}
.bg-yellow {
  background-color: yellow;
}
#firstdiv {
  color: rgb(213, 77, 179);
}
